@import url('colors.css');
@import url('fonts.css');

html {
    font-size: 20px;
}

body {
    background-color: var(--white-color);

}
body, input, button {
    font-family: 'Montserrat', sans-serif;
}
.App {
    display: flex;
    padding: 2rem;  
}
h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h2, h3, label, .toggle-button{
    color: var(--blue-color);
}
input {
    color: var(--gray-color);
}

.forms {
    width: clamp(30rem, 100%, 40rem);
}
.personal-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    h2 {
        font-size: 1.6rem;
        font-weight: 600;
    }
}

.toggle-button {
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    border: none;
    font-weight: 600;
    padding: 1rem;
}

.toggle-button, .educationForm, .experienceForm {
    background-color: #fff;
}

.education {
    margin-bottom: 1rem;
}

.educationForm, .experienceForm {
    display: flex;
    flex-direction: column;
    padding: 1rem;
   
    input {
        background-color: var(--white-color);
    }
    .error {
        color: #e00000;
        padding-bottom: 1rem;
        text-align: end;
    }
    .button-container {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        button {
            border: none;
            padding: .6rem 1.5rem;
            font-size: 1rem;
            min-width: 8rem;
        }
        .cancel-button {
            background-color: var(--purple-color);
            color: #fff;
        }

        .save-button {
            background-color: var(--green-color);
            color: #fff;
        }
    }
}

.curriculum {
    display: flex;
    justify-content: center;
    width: 100%;
    .curriculum-container {
        background-color: #fff;
        width: clamp(40rem, 100%, 50rem);
    }
    .personal-info-display {
        h2{
            background-color: var(--blue-color);
            color: #fff;
            padding: 1rem 0rem;
            text-align: center;
        }
    }
}