:root {
    --blue-color: #1A237E;
    --gray-color: #424242; 
    --green-color: #00796B; /* Verde azulado */
    --yellow-color: #FFD600;
    --white-color: #ECEFF1;
    --purple-color: #6A1B9A; /* Púrpura oscuro */
}